<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>.</string>
	<key>CFBundleShortVersionString</key>
	<string>1.12.0</string>
	<key>CFBundleShortVersionStringTag</key>
	<string>1.12.0-y1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>teleportlabs.com.Dayflow</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dayflow</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>109</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Dayflow uses screen access to create your timeline. Recordings stay on your Mac and you can pause or delete them anytime.</string>
	<key>UIAppFonts</key>
	<array>
		<string>InstrumentSerif-Regular.ttf</string>
		<string>InstrumentSerif-Italic.ttf</string>
		<string>Figtree-VariableFont_wght.ttf</string>
		<string>Figtree-Italic-VariableFont_wght.ttf</string>
		<string>Nunito-VariableFont_wght.ttf</string>
		<string>Nunito-Italic-VariableFont_wght.ttf</string>
	</array>
</dict>
</plist>
